/*element selector*/
h1 {
    color:deeppink;
    background-color: cadetblue;
}

p{
    color:darkviolet;
    border: 2px;
    border-color:aquamarine;
    border-style:dashed;
    padding: 10px;
    text-align: center;
}
/*border is default hidden*/

/*id selector*/
#heading-2{
    color:goldenrod
}

/*class selector - styling more than one tags with same style:*/
.heading{
    background-color:darksalmon
}

/*navbar*/
.navbar{
    border: 2px;
    border-color:rgb(14, 10, 105);
    border-style:solid;
    background-color:rgb(8, 37, 69);
    font-family:'Lucida Consol', monospace;
    text-align:center;
    padding: 20px;
}

/* styling on the anchor tags inside navbar*/
.navbar a{
    padding: 20px;
    color:antiquewhite;
    text-decoration:none;
}

.navbar a:hover{
    background-color:cadetblue;
}

body{
    margin: 0px;
}
.card {
    border: 2px solid black;
    width: 270px;
    text-align: center;
    margin-left: 450px;
    margin-top: 50px;
}

.card img {
    width: 100%;
}

.card button{
    margin-bottom:2px;
}

